Dashboard/allFlowsNodeRed.json
[
    {
        "id": "02819f7f276b30da",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e12d8728cf67de9",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#00cca3",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2f5a16",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#0e0a24",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#2e4084",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab0a2509d76c02a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ea72cb8a27ce191",
        "type": "ui_group",
        "name": "Temperature ",
        "tab": "51ba7f1114addb00",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01acc8efbdc4bbe7",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "51ba7f1114addb00",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e070ec4085e2b2a2",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "51ba7f1114addb00",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51ba7f1114addb00",
        "type": "ui_tab",
        "name": "MediBox Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "914d7c2a86de369f",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9960a66bd3462a07",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "02c198494b974739",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "91942581a8af4ebf",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "2030449e36731e0d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "51ba7f1114addb00",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47c61ddbbfba2c30",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "MediBox_TEMP_Uvindu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "1940f81c8801f1ef"
            ]
        ]
    },
    {
        "id": "6fe7b03604927144",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "be257bf37701d3a3",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 2,
        "width": 6,
        "height": 3,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5ad45ba608a270c6",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Medibox_RLight_Uvindu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "8cc64b22256e071c"
            ]
        ]
    },
    {
        "id": "b49c663159498872",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Medibox_LLight_Uvindu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "a65be6b222e0a6ab"
            ]
        ]
    },
    {
        "id": "d402c571949ecf4c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 1,
        "width": 6,
        "height": 3,
        "label": "Light Intensity",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#27be69",
            "#1c1917",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0e7fb7e2655190a9",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Right_LDR",
        "func": "return {payload: msg.payload,\ntopic:\"Right\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "d402c571949ecf4c",
                "3371254ceb19b4c8",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "6402d1fa9e527d67",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Left_LDR",
        "func": "return {payload: msg.payload,\ntopic:\"Left\"};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "d402c571949ecf4c",
                "4d1010fa017322c6",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "3371254ceb19b4c8",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "right_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "4d1010fa017322c6",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "left_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "aa8337dad5a0f0df",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 7",
        "func": "let right_LDR = global.get(\"right_LDR\");\nlet left_LDR = global.get(\"left_LDR\");\n\nlet max = right_LDR;\n\nif(left_LDR>max){\n    max = left_LDR;\n}\n\nreturn{\npayload:max\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "fb9981a876657fc3"
            ]
        ]
    },
    {
        "id": "fb9981a876657fc3",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 3,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Maximum Light Intensity",
        "label": "LUX",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "21d47813ecb85b8c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Light Intensity Variation",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cc6914e2790b6816",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "e070ec4085e2b2a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min_ang",
        "topicType": "str",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "e92d0a151ff5cf60",
                "66fa3ee179482194"
            ]
        ]
    },
    {
        "id": "21ac450b8e3c8b3c",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "e070ec4085e2b2a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "cf",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "d6fe2f7ba1262aec",
                "4418b939541707fb"
            ]
        ]
    },
    {
        "id": "e92d0a151ff5cf60",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Medibox_Servo_Angle_Uvindu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "d6fe2f7ba1262aec",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Medibox_Servo_CF_Uvindu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "68b91425f4bbba54",
        "type": "ui_dropdown",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Presets",
        "tooltip": "",
        "place": "Select option",
        "group": "e070ec4085e2b2a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "Default",
                "type": "str"
            },
            {
                "label": "Asthalene",
                "value": "paracetamol",
                "type": "str"
            },
            {
                "label": "Citrazene",
                "value": "Amoxicillin",
                "type": "str"
            },
            {
                "label": "Cyclozene",
                "value": "Citalopram",
                "type": "str"
            },
            {
                "label": "Rapidene",
                "value": "Metformin",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "c40e124308434e4c",
                "0afb201f73b83f68"
            ]
        ]
    },
    {
        "id": "0afb201f73b83f68",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 8",
        "func": "if(msg.payload==\"paracetamol\"){\n    return {payload:40};\n} else if (msg.payload == \"Amoxicillin\"){\n    return {payload:60};\n} else if (msg.payload == \"Citalopram\"){\n    return {payload:90};\n} else if (msg.payload == \"Metformin\"){\n    return {payload:110};\n}else{\n    return {payload:30};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 400,
        "wires": [
            [
                "cc6914e2790b6816"
            ]
        ]
    },
    {
        "id": "c40e124308434e4c",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 9",
        "func": "if(msg.payload == \"paracetamol\"){\n    return {payload:0.48};\n} else if (msg.payload == \"Amoxicillin\"){\n    return {payload:0.18};\n}else if (msg.payload == \"Citalopram\"){\n    return {payload:0.21};\n}else if (msg.payload == \"Metformin\"){\n    return {payload:0.88};\n}else{\n    return {payload:0.75};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 520,
        "wires": [
            [
                "21ac450b8e3c8b3c"
            ]
        ]
    },
    {
        "id": "8cc64b22256e071c",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "0e7fb7e2655190a9"
            ]
        ]
    },
    {
        "id": "a65be6b222e0a6ab",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6402d1fa9e527d67"
            ]
        ]
    },
    {
        "id": "1940f81c8801f1ef",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "6fe7b03604927144",
                "be257bf37701d3a3"
            ]
        ]
    },
    {
        "id": "645dddca128e9a68",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "MediBox_HUM_Uvindu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "faa89063064157b9"
            ]
        ]
    },
    {
        "id": "48024e1cd867ecf7",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "2030449e36731e0d",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c65a439e5551b17",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "2030449e36731e0d",
        "order": 2,
        "width": 6,
        "height": 3,
        "label": "Humidity Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "faa89063064157b9",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "48024e1cd867ecf7",
                "6c65a439e5551b17"
            ]
        ]
    },
    {
        "id": "66fa3ee179482194",
        "type": "debug",
        "z": "02819f7f276b30da",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "4418b939541707fb",
        "type": "debug",
        "z": "02819f7f276b30da",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 560,
        "wires": []
    }
]